body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

/* HEADINGS */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
}

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  color: #fff;
}

.section-heading {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 600;
}

/* SECTIONS */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
  background-color: #fff;
}

/* NAVIGATION BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* DOWNLOAD BUTTONS */
.download-button {
  margin: 5% 3% 5%;
}

/* TITLE SECTION */

.title-img {
  width: 26%;
  transform: rotate(25deg);
  position: absolute;
  padding-left: 50px;
  right: 30%;
}

#title .container-fluid {
padding-top: 3%;
text-align: left;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    width: 60%;
    transform: rotate(0);
    padding: 0;
  }
}

/* FEATURES SECTION */
#features {
  position: relative;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
}

/* TESTIMONIALS SECTION */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* PRESS SECTION */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 25px 25px 55px;
}

/* PRICING SECTION */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

.price-title {
  font-weight: 700;
}

/* CALL TO ACTION SECTION */

/* FOOTER SECTION */

.copyright-stat {
  margin: 0;
}

.social-media-handles {
  margin: 7px 14px;
  color: #000;
}

.social-media-handles:hover {
  color: #ff4c68;
}
